{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Sobre el proyecto de servidor web del curso de nodejs</h1>
        <h2>Dedicada a: {{ personaje }}</h2>
    </div>
    <div class="col-4">
        <img src="assets/img/silvestre.png" class="img-thumbnail">
    </div>

{{> footer }}